# Ignore dataset files
*.rar
*.zip
dataset/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db